<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css"> 
    <link href='https://fonts.googleapis.com/css?family=Livvic' rel='stylesheet'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body>

    <div class="grandparent">
    
        <div class="parent title">
            <h1>SILVER DAWN COACHES DATA ADMIN</h1>
        </div>
        
        <div class="parent">
            
            <div class="tab-row">
            
                
                <div class="tab">
                    <a href="home">
                        <p>Customer Details</p>
                    </a>
                </div>
                
                <div class="tab">
                    <a href="booking">
                        <p>Booking Details</p>
                    </a>
                </div>
                
                <div class="tab">
                    <a href="lookup">
                        <p>Details Lookup</p>
                    </a>
                </div>
                
                <div class="active-tab" style="margin-left:0.5em;">
                    <p>Admin Access</p>
                </div>
                
            </div>
            
            <!--form boxes-->
            <div class="child" style="border-radius: 20px 0px 20px 20px;">
                <div class="box">
                    <div class="formbox" style="width: auto;">
                        <form method="post" action="/action">
                            <button type="submit" name="adminAction" value="edit" class="tablinks">Edit</button>
                            <button type="submit" name="adminAction" value="finance" class="tablinks">Finance</button>
                            <button type="submit" name="adminAction" value="trip" class="tablinks">Trip</button>
                        </form>
                        
                    </div>
            

                    
                    <div class="child" style="align-items: center;">
                        <!-- Finance Admin Dasboard -->
                        {% if adminAction == "finance" %}
                        <div class="box">
                            <form method="post" action="/finance">
                                <div class="formbox">
                                    <label for="finaceTrip">Trip Select:</label>
                                    <select id="finaceTrip" name="finaceTrip" onchange="this.form.submit()">
                                        {% for destination in financeArray %}
                                            {% if finaceTrip %}
                                                {% if destination['DestinationID'] == finaceTrip %}
                                                    <option value="{{ destination['DestinationID'] }}" selected="selected">{{ destination['Destination'] }}</option>
                                                {% else %}
                                                    <option value="{{ destination['DestinationID'] }}">{{ destination['Destination'] }}</option>
                                                {% endif %}
                                            {% else %}
                                                <option value="{{ destination['DestinationID'] }}">{{ destination['Destination'] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>

                            {% if finData %}
                                <div class="tableContainerFin">

                                    <h1>Destination and Finance Information</h1>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Destination</th>
                                                <th>Hotel</th>
                                                <th>Cost</th>
                                                <th>Days</th>
                                                <th>Trip Date</th>
                                                <th>Seats Booked</th>
                                                <th>Total Seats</th>
                                                <th>Percentage Seats Booked</th>
                                                <th>Revenue</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for trip in finData %}
                                                <tr>
                                                    <td>{{ trip['Trip Name'] }}</td>
                                                    <td>{{ trip['Hotel'] }}</td>
                                                    <td>{{ trip['Cost Per Seat'] }}</td>
                                                    <td>{{ trip['Days'] }}</td>
                                                    <td>{{ trip['Trip Date'] }}</td>
                                                    <td>{{ trip['Seats Booked'] }}</td>
                                                    <td>{{ trip['Total Seats'] }}</td>
                                                    <td>{{ trip['Percentage Seats Booked'] }}%</td>
                                                    <td>{{ trip['Revenue'] }}</td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td colspan="5"><strong>Total Seats Booked:</strong> {{ total_seats_booked }}</td>
                                                <td colspan="4"><strong>Total Revenue:</strong> {{ total_revenue }}</td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <h1>Customer Information</h1>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Booking ID</th>
                                                <th>Booking Date</th>
                                                <th>First Name</th>
                                                <th>Surname</th>
                                                <th>Number of People</th>
                                                <th>Special Request</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for trip in finData %}
                                                {% for booking in trip['Bookings'] %}
                                                    <tr>
                                                        <td>{{ booking['BookingID'] }}</td>
                                                        <td>{{ booking['Booking Date'] }}</td>
                                                        <td>{{ booking['First Name'] }}</td>
                                                        <td>{{ booking['Surname'] }}</td>
                                                        <td>{{ booking['Number of people'] }}</td>
                                                        <td>{{ booking['Special Request'] }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                
                                    
                                </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>      
</body>
</html>