<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css"> 
    <link href='https://fonts.googleapis.com/css?family=Livvic' rel='stylesheet'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body>

    <div class="grandparent">
    
        <div class="parent title">
            <h1>SILVER DAWN COACHES DATA ADMIN</h1>
        </div>
        
        <div class="parent">
            
            <div class="tab-row">
            
                
                <div class="tab">
                    <a href="home">
                        <p>Customer Details</p>
                    </a>
                </div>
                
                <div class="tab">
                    <a href="booking">
                        <p>Booking Details</p>
                    </a>
                </div>
                
                <div class="tab">
                    <a href="lookup">
                        <p>Details Lookup</p>
                    </a>
                </div>
                
                <div class="active-tab" style="margin-left:0.5em;">
                    <p>Admin Access</p>
                </div>
                
            </div>
            
            <!--form boxes-->
            <div class="child" style="border-radius: 20px 0px 20px 20px;">
                <div class="box">
                    <div class="formbox" style="width: auto;">
                        <form method="post" action="/action">
                            <button type="submit" name="adminAction" value="edit" class="tablinks">Edit</button>
                            <button type="submit" name="adminAction" value="finance" class="tablinks">Finance</button>
                        </form>
                        
                    </div>
            
                    <div class="child" style="align-items: center;">
                        <!-- Finance Admin Dashboard -->
                        {% if adminAction == "finance" %}
                        <div class="box">
                            <form method="post" action="/finance">
                                <div class="formbox">
                                    <select id="finaceTrip" name="finaceTrip" onchange="this.form.submit()">
                                        {% for destination in financeArray %}
                                            {% if finaceTrip %}
                                                {% if destination['DestinationID'] == finaceTrip %}
                                                    <option value="{{ destination['DestinationID'] }}" selected="selected">{{ destination['Destination'] }}</option>
                                                {% else %}
                                                    <option value="{{ destination['DestinationID'] }}">{{ destination['Destination'] }}</option>
                                                {% endif %}
                                            {% else %}
                                                <option value="{{ destination['DestinationID'] }}">{{ destination['Destination'] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>

                            {% if finData %}
                                <div class="tableContainerFin">

                                    <h1>Destination and Finance Information</h1>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Destination</th>
                                                <th>Hotel</th>
                                                <th>Cost</th>
                                                <th>Days</th>
                                                <th>Trip Date</th>
                                                <th>Seats Booked</th>
                                                <th>Total Seats</th>
                                                <th>Percentage Seats Booked</th>
                                                <th>Revenue</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for trip in finData %}
                                                <tr>
                                                    <td>{{ trip['Trip Name'] }}</td>
                                                    <td>{{ trip['Hotel'] }}</td>
                                                    <td>{{ trip['Cost Per Seat'] }}</td>
                                                    <td>{{ trip['Days'] }}</td>
                                                    <td>{{ trip['Trip Date'] }}</td>
                                                    <td>{{ trip['Seats Booked'] }}</td>
                                                    <td>{{ trip['Total Seats'] }}</td>
                                                    <td>{{ trip['Percentage Seats Booked']|round(2) }}%</td>
                                                    <td>{{ trip['Revenue'] }}</td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td colspan="5"><strong>Total Seats Booked:</strong> {{ total_seats_booked }}</td>
                                                <td colspan="4"><strong>Total Revenue:</strong> {{ total_revenue }}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <h1>Customer Information</h1>
                                    {% for trip in finData %}
                                        <h2>Trip Date: {{ trip['Trip Date'] }}</h2>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Booking ID</th>
                                                    <th>Booking Date</th>
                                                    <th>First Name</th>
                                                    <th>Surname</th>
                                                    <th>Number of People</th>
                                                    <th>Special Request</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for booking in trip['Bookings'] %}
                                                    <tr>
                                                        <td>{{ booking['BookingID'] }}</td>
                                                        <td>{{ booking['Booking Date'] }}</td>
                                                        <td>{{ booking['First Name'] }}</td>
                                                        <td>{{ booking['Surname'] }}</td>
                                                        <td>{{ booking['Number of people'] }}</td>
                                                        <td>{{ booking['Special Request'] }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        
                        <!-- Trip Admin Dashboard -->
                        {% if adminAction == "trip" %}
                        <div class="box">
                            <form method="post" action="/addTrip">
                                <div class="formbox">
                                    <label for="destination">Destination:</label>
                                    <select id="destination" name="destination">
                                        {% for destination in destinations %}
                                            <option value="{{ destination['DestinationID'] }}">{{ destination['Destination'] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="formbox">
                                    <label for="driver">Driver:</label>
                                    <select id="driver" name="driver">
                                        {% for driver in drivers %}
                                            <option value="{{ driver['DriverID'] }}">{{ driver['Driver'] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="formbox">
                                    <label for="date">Date:</label>
                                    <input type="date" id="date" name="date" required>
                                </div>
                                <div class="formbox">
                                    <label for="coach">Coach:</label>
                                    <select id="coach" name="coach">
                                        {% for coach in coaches %}
                                            <option value="{{ coach['CoachID'] }}">{{ coach['Registration'] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit">Add Trip</button>
                            </form>
                        </div>
                        {% endif %}
                        
                        <!-- Edit Admin Dashboard -->
                        {% if adminAction == "edit" %}
                        <div class="box">
                            <form method="post" action="/access">
                                <div class="formbox">
                                    <select id="tableSelect" name="tableSelect" style="width: max-content;" onchange="this.form.submit()">
                                        {% for table in tables %}
                                            {% if table['Tables_in_silerdawncoachesdb'] in ['driver', 'destination', 'coach'] %}
                                                <option value="{{ table['Tables_in_silerdawncoachesdb'] }}" {% if table['Tables_in_silerdawncoachesdb'] == request.form.get('tableSelect', '') %}selected{% endif %}>
                                                    {{ table['Tables_in_silerdawncoachesdb'] }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                
                                    <select id="doWhat" name="doWhat" style="width: max-content;" onchange="this.form.submit()">
                                        <option value="add" {% if request.form.get('doWhat', '') == 'add' %}selected{% endif %}>Add</option>
                                        <option value="remove" {% if request.form.get('doWhat', '') == 'remove' %}selected{% endif %}>Remove</option>
                                    </select>
                                </div>
                            </form>
                        
                            {% if action == "add" %}
                                <form method="POST" action="add">
                                    {% for i in attributes %}
                                        <div class="formbox">
                                            <label for="{{i['Field']}}">{{i['Field']}}</label>
                                            <input type="text" id="{{i['Field']}}" name="{{i['Field']}}">
                                        </div>
                                    {% endfor %}
                                    <div class="child-below">
                                        <div class="formbox" style="margin-left: 1em; padding:0.5em; width: auto;">
                                            <button type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            {% elif action == "remove" %}
                                <div class="child" style="border-radius: 20px; width: 100%; flex-direction: column;">
                                    <div class="tableContainer">
                                        <table id="data-table">
                                            <thead>
                                                <tr>
                                                    {% if displayData %}
                                                        {% for key in displayData[0].keys() %}
                                                            <th>{{ key }}</th>
                                                        {% endfor %}
                                                    {% endif %}
                                                    <th>Remove</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if displayData %}
                                                    {% for num in range(0, amountOfData) %}
                                                        <tr data-id="{{ displayData[num]['id'] }}">
                                                            {% for i in displayData[num].values() %}
                                                                {% if i %}
                                                                    <td>{{ i }}</td>
                                                                {% else %}
                                                                    <td>No Data</td>
                                                                {% endif %}
                                                            {% endfor %}
                                                            <td>
                                                                <form method="get" action="delete">
                                                                    <input type="hidden" name="id" value="{{ displayData[num].values()|list|first }}">
                                                                    <button action="submit">
                                                                        <span style='font-size:27px; cursor: pointer;'>&#128465;</span>
                                                                    </button>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>      
</body>
</html>