<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="static/style.css">
		<link href="https://fonts.googleapis.com/css?family=Livvic" rel="stylesheet">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
		<div class="grandparent">
			<div class="parent title">
				<h1>SILVER DAWN COACHES DATA ADMIN</h1>
			</div>
			<div class="parent">
				<div class="tab-row">
					<div class="tab">
						<a href="home">
							<p>Customer Details</p>
						</a>
					</div>
					<div class="active-tab active-middle-tab">
						<p>Booking Details</p>
					</div>
					<div class="tab">
						<a href="lookup">
							<p>Details Lookup</p>
						</a>
					</div>
					<div class="tab">
						<a href="admin">
							<p>Admin Access</p>
						</a>
					</div>
				</div>
				<!-- form boxes -->
				<div class="child" style="border-radius: 20px;">
					<a href="home" class="arrow-button" style="color: #C1C1C1; margin-left: 0.4em;">
						<span style="font-size:30px;">&#11160;</span>
					</a>
					<form method="POST" id="booking-form">
						<div class="child">
							<div class="box">
								<div class="formbox">
									<label for="name">Customer Name:</label>
									<select id="name" name="name">
										{% for name in names %}
											<option value="{{ name['CustomerID'] }}">{{ name['First Name'] }} {{ name['Surname'] }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="formbox">
									<label for="trip">Trip Select:</label>
									<select id="trip" name="trip" onchange="window.location.href='/getDateBooking?trip=' + this.value">
										{% for destination in destinations %}
											{% if destinationBooking %}
												{% if destination['Destination'] == destinationBooking['Destination'] %}
													<option value="{{ destination['DestinationID'] }}" selected="selected">{{ destination['Destination'] }}</option>
												{% else %}
													<option value="{{ destination['DestinationID'] }}">{{ destination['Destination'] }}</option>
												{% endif %}
											{% else %}
												<option value="{{ destination['DestinationID'] }}">{{ destination['Destination'] }}</option>
											{% endif %}
										{% endfor %}
									</select>
								</div>
								<div class="formbox">
									<label for="date">Trip Date:</label><br>
									<select id="date" name="date">
										{% if bookingDates %}
											{% for date in bookingDates %}
												<option value="{{ date['Date'] }}">{{ date['Date'] }}</option>
											{% endfor %}
										{% endif %}
									</select>
								</div>
							</div>
							<div class="vl"></div>
							<div class="box">
								<div class="formbox">
									<label for="notes">Extra Notes:</label><br>
									<input type="text" id="notes" name="notes"><br>
								</div>
								<div class="formbox">
									<label for="seats">No. Seats:</label>
									<input type="number" id="seats" name="seats" min="1" max="{{ seats }}" required><br>
								</div>
								<div class="formbox">
									<label for="seats" id="seatId">Available Seats: {{ seats }}</label>
								</div>
							</div>
						</div>
						<div class="child-below">
							<div class="formbox" style="margin-left: 1em; padding:0.5em; width: auto;">
								<button form="booking-form" type="submit">submit</button>
							</div>
							<div class="formbox" style="margin-left: 1em; padding:0.5em; width: auto;">
								<button onclick="window.location.href='/trip'">New Trip</button>
							</div>
						</div>
					</form>
					<a href="lookup" class="arrow-button" style="color: #C1C1C1; margin-left: 0.4em;">
						<span style="font-size:30px;">&#11162;</span>
					</a>
				</div>
				{% if msg %}
					<div class="alert-box">
						<p>{{ msg }}</p>
						<a href="?dismiss=true" class="close-btn">x</a>
					</div>
				{% endif %}
			</div>
		</div>
	</body>
</html>